<p class="notice"><%= notice %></p>


<%= content_for :page_title do%>
  <%= @task.api.name%>
<% end %>


<% if @task.practice %>
  <h3>This is a Practice Task</h3>
<% end %>

<dl>
  <dt>Task</dt>
  <dd><strong><%= @task.title %></strong></dd>
  <dt>Description</dt>
  <dd><%=auto_link @task.description, html: { target: '_blank' } %></dd>
  <dt>API Docs</dt>
  <dd><%=link_to @task.api.doc_url, @task.api.doc_url %></dd>
<dl>

<div class="two-panel">
  <div class="left">
    <%= form_for @answer.dup, url: api_task_answers_path(@task.api, @task) do |answer_form| %>
      <fieldset>
        <legend>API Call Editor</legend>

        <dl>
          <dt><%= answer_form.label :method %></dt>
          <dd class="code-snippet"><%=answer_form.select :method, Answer::METHODS, {prompt: 'Select one'}, required: true %></dd>
        </dl>

        <dl>
          <dt><%= answer_form.label :path, 'Request Path' %></dt>
          <dd class="code-snippet"><%= @task.api.root %><%= answer_form.text_field :path, size: 30, placeholder: 'Request path...', class: 'code-snippet', required: true %></dd>
        </dl>

        <dl>
          <dt><%= answer_form.label :request_headers %></dt>
          <dd><%= answer_form.text_area :request_headers, cols: 30, rows: 5, class: 'code-snippet' , placeholder: 'e.g. x-custom-header: my custom value (one header per row)' %></dd>
        </dl>

        <dl>
          <dt><%= answer_form.label :request_body %></dt>
          <dd><%= answer_form.text_area :request_body, cols: 30, rows: 5, class: 'code-snippet' , placeholder: 'Request body...' %></dd>
        </dl>

        <%= submit_tag 'Submit' %>

        <% if  @task.next %>
          <%= link_to 'Next Task', api_task_path(@task.api, @task.next) %>
        <% else %>
          <%= link_to 'Finish' %>
        <% end %>

      </fieldset>
    <% end %>

  </div>

  <div class="right">

    <fieldset>
      <legend>API Response</legend>
      <% if @answer.response %>
        <div class="response-data">
          <dl>
            <dt>Response Code</dt>
            <dd><pre class='code-snippet'><%= @answer.response.status_code %></pre></dd>
          </dl>

          <dl>
            <dt>Response Headers</dt>
            <dd><pre class='code-snippet'><%= JSON.pretty_generate JSON.parse(@answer.response.headers) %></pre></dd>
          </dl>

          <dl>
            <dt>Response Body</dt>
            <dd><pre class='code-snippet'><%= JSON.pretty_generate JSON.parse(@answer.response.body) %></pre></dd>
          </dl>
        </div>
      <% else %>
        <p>This section will show you the API response once you submit the form.</p>
      <% end %>
    </fieldset>
  </div>
<div>