<!DOCTYPE html>
<html>
<head>
  <title>RestApiExplorer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="banner">Live API Explorer</h1>

<% if participant %>
  <div class="participant-name">
    Thank you <strong><%= participant.name %></strong> for participating in this study.
    You can <%= link_to 'finish', edit_feedback_participants_path %> anytime.
  </div>
<% end %>


<h2 class="page-title"><%= yield :page_title %></h2>

<%= yield %>

</body>
</html>
